*
{
    margin:0;
    padding:0;
}
.header{
    width:100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.name {
    color: white;
    text-transform: uppercase;
    font-weight: 800;
}

.header .nav-link:hover {
    color: white !important;
}
.custom-link{
    color: orange !important;
}


.txt_clr:hover {
    color: #00ffcc !important;
}
.txt_clr {
    color: orange !important;
}